@font-face {
  font-family: "iconfont"; /* Project id 2411020 */
  src: url('iconfont.woff2?t=1628666584305') format('woff2'),
       url('iconfont.woff?t=1628666584305') format('woff'),
       url('iconfont.ttf?t=1628666584305') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-max_display:before {
  content: "\e627";
}

.icon-min_display:before {
  content: "\e633";
}

.icon-microphone_opened:before {
  content: "\e61e";
}

.icon-camera_closed:before {
  content: "\eca5";
}

.icon-camera_opened:before {
  content: "\eca6";
}

.icon-microphone_closed:before {
  content: "\e80d";
}

